<div class="divBg">
  <div role="main" class="container" *ngIf="myAnswer">
    <div class="d-flex align-items-center p-3 text-white titleBg rounded shadow">
      <img class="mr-3 img-fluid rounded" [src]="url + myAnswer.form.image" style="width: 150px; ;height: 150px">
      <div class="lh-100">
        <h4 class="mb-0 text-white lh-100">{{myAnswer.form.title}}</h4>
        <small>{{myAnswer.form.description}}</small><br>
      </div>
    </div>
    <div class="div-padding">
      <form class="example" style="margin-left: 25%">
        <input [(ngModel)]="keywords" style="height: 30px" name="keywords" type="text" placeholder="Search.."
          name="search" autocomplete="off">
        <button type="submit" style="height: 30px" (click)="getAnswer()"><i class="fa fa-search">Search</i></button>
      </form>
      <br>
      <div class="card text-center bg-light" style="max-width: 100rem;" style="max-height: 100rem;">
        <div>
          <div class="container">
            <div class="row">
              <div class="col-sm-4" *ngIf="senderUser">
                <ul id="nav-tabs-wrapper" class="nav nav-tabs nav-pills nav-stacked well form-group row"
                  *ngFor="let answer of myAnswer.user_form;let i = index">
                  <button class="btn btn-info col-md-9" href="#tab" data-toggle="tab"
                    (click)="getAnsweClicked(i)">{{answer.id}}.{{answer.name}}</button>
                  <button class="btn btn-danger col-md-3"
                    [swal]="{ text: 'Send to Email: '+senderUser.email,title: 'Enter your message', input: 'text' }"
                    (confirm)="saveEmail($event)" (cancel)="handleRefusalToSetEmail($event)">X</button>
                </ul>
              </div>
              <div class="col-sm-8">
                <div class="tab-content">
                  <div role="tabpanel" class="tab-pane fade in active" id="tab">
                    <div class=" card text-center bg-light" *ngIf="senderUser && ob1 !== 0 ">
                      <img type="image" class="rounded-circle image-center" [src]="url+senderUser.image"
                        style="width: 200px; height: 200px;margin: auto;"><br>
                      <h4 *ngIf="myAnswerDetail">User : {{myAnswerDetail.creater.username}}</h4>
                      <h4 *ngIf="myAnswerDetail">Date : {{myAnswerDetail.creater.created_at}}</h4>
                      <table class="table table-striped" *ngIf="myAnswerDetail">
                        <tr>
                          <th scope="col">Question</th>
                          <th scope="col">Answer</th>
                        </tr>
                        <tbody *ngFor="let answerdetail of myAnswerDetail.data">
                          <td>
                            {{ answerdetail.question }}
                          </td>
                          <td>
                            <!-- Normal -->
                            <input type="text"
                              *ngIf="answerdetail.data_type_id !== 7 && answerdetail.data_type_id !== 8 && answerdetail.data_type_id !== 9 && answerdetail.data_type_id !== 10"
                              [(ngModel)]="answerdetail.answer[0].value" name="nmip">
                            <!-- Checkbox -->
                            <div class="row text-center" *ngIf="answerdetail.data_type_id === 7">
                              <label for="info" class="btn btn-info">{{answerdetail.answer[0].value}}
                                <input type="checkbox" id="info" class="badgebox"
                                  [(ngModel)]="answerdetail.answer[0].value"><span class="badge"></span></label>
                            </div>
                            <!-- File -->
                            <div *ngIf="answerdetail.data_type_id === 8" style="width: 100%">
                              <a href="url+answerdetail.answer[0].value"
                                [(ngModel)]="answerdetail.answer[0].value">{{answerdetail.answer[0].filename}}</a>
                            </div>
                            <!-- Dropdown -->
                            <div class="dropdown" style="align-self: center" *ngIf="answerdetail.data_type_id === 9">
                              <!--Trigger-->
                              <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenu1"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                                [(ngModel)]="answerdetail.answer[0].value">{{answerdetail.answer[0].value}}</button>
                              <!--Menu-->
                              <div class="dropdown-menu dropdown-primary">
                                <a class="dropdown-item" *ngFor="let item of dropdown">{{item}}.</a>
                              </div>
                            </div>
                            <!-- Image -->
                            <div *ngIf="answerdetail.data_type_id === 10">
                              <img *ngFor="let img of answerdetail.answer[0].values" type="image"
                                class="rounded-circle image-center" [src]="url+img"
                                style="width: 200px; height: 200px;margin: auto;">
                            </div>
                          </td>
                        </tbody>
                        <button (click)="nextAnswer()" class="btn btn-success float-right"
                          style="align-self: center;">Update</button>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
              <div class="alert alert-warning col-sm-12" *ngIf="ob1 === 0" style="width: 100%">
                <strong>Warning!</strong>Not Foud Data.
              </div>
            </div>
          </div>
        </div>
        <p *ngIf="ob1 !== 0">
          <button (click)="backAnswer()" class="btn btn-secondary">Back</button>
          &nbsp;
          <button (click)="nextAnswer()" class="btn btn-secondary">Next</button>
        </p>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="PreModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content text-center">
      <div class="modal-header text-center">
        <h5 class="modal-title" id="exampleModalLongTitle" style="width: 100vw">New Message</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" *ngIf="senderUser">
        <div class="form-group row">
          <label class="col-md-3">To</label>
          <div class="col-md-9">
            <input class="form-control" [(ngModel)]="senderUser.email" type="text">
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-3">Message</label>
          <div class="col-md-9">
            <textarea autocomplete="false" [(ngModel)]="message" class="form-control input-xlarge" rows="5"
              id="comment"></textarea>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" data-dismiss="modal" (click)="deleteAnswer()">OK</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
