.text-center {
  text-align: center!important;
}
.div-padding {
  padding: 60px;
  margin: auto;
  width: 50vw;
}
.card {
  margin: 0 auto;
  float: none;
  margin-bottom: 10px;
}
.divBg {
  background: #1976D2; /* fallback for old browsers */
  background: -webkit-linear-gradient(right, #1976D2, #BBDEFB);
  background: -moz-linear-gradient(right, #1976D2, #BBDEFB);
  background: -o-linear-gradient(right, #2196F3, #BBDEFB);
  background: linear-gradient(to left, #2196F3, #BBDEFB);
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  width: 100%;
}
p.a{
  text-align: left;
  margin-left: 60px;
  margin-top: 0px;
}
div.a{  
  text-align: left;
  margin-left: 60px;
}div.b{  
  text-align: left;
  margin-left: 200px;
}