<div class="divBg">
  <div class="div-padding">
    <div class=" card text-center bg-light shadow" *ngIf="myAnswerDetail">
      <br>
      <img type="image" class="rounded-circle image-center" [src]="url+myAnswerDetail.creater.image"
        style="width: 200px; height: 200px;margin: auto;"><br>
      <h3>User : {{myAnswerDetail.creater.username}}</h3>
      <h3>Date : {{myAnswerDetail.creater.created_at}}</h3>
      <br>
      <table class="table table-striped">
        <tr>
          <th scope="col">Question</th>
          <th scope="col">Answer</th>
        </tr>
        <tbody *ngFor="let answerdetail of myAnswerDetail.data">
          <td>
            {{ answerdetail.question }}
          </td>
          <td *ngIf="answerdetail.data_type_id == 8">
            <img type="image" class="rounded-circle image-center" [src]="url+answerdetail.answer[0].value"
              style="width: 200px; height: 200px;margin: auto;">
          </td>
          <td *ngIf="answerdetail.data_type_id !== 8">
            <p class="form-check-inline" *ngFor="let value of answerdetail.answer">
              {{ value.value }}
            </p>
          </td>
        </tbody>
      </table>
    </div>
  </div>
</div>
