<app-navbar></app-navbar>
<div class="search-results">
  <div class="divBg ">
    <div class="div-padding">
      <form class="example" style="margin-left: 25%">
        <input [(ngModel)]="keywords" style="height: 30px" name="keywords" type="text" placeholder="Search.."
          name="search" autocomplete="off" (keyup)="getGroups()">
        <button type="submit" style="height: 30px" (click)="getGroups()"><i class="fa fa-search">Search</i></button>
      </form>
      <div class="clearfix">
        <a style="color: crimson;cursor: pointer;" (click)="orderChange()"><strong> Sort by Id ↑/↓</strong></a>
      </div>
      <div class="card text-center bg-light shadow" style="width: 100%;height: 100%;" *ngIf="myGroups">
        <table class="table">
          <thead class="thead-dark">
            <tr>
              <th scope="col">#</th>
              <th scope="col">Title</th>
              <th scope="col">Description</th>
              <th scope="col">Create</th>
              <th scope="col">Update</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody *ngFor="let group of myGroups;let i = index">
            <tr>
              <td>{{group.id}}</td>
              <td>{{group.title}}</td>
              <td>{{group.description}}</td>
              <td>{{group.created_at}}</td>
              <td>{{group.updated_at}}</td>
              <td>
                <button class="btn btn-info" style="width: 200px;height: 30px;" routerLink="/forms"
                  (click)="setGroupId(group.id)">View Forms</button>
              </td>
            </tr>
          </tbody>
        </table>
        <p>
          <button (click)="backGroup()" class="btn btn-secondary">Back</button>
          &nbsp;
          <button (click)="nextGroup()" class="btn btn-secondary">Next</button>
        </p>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
