.btuSignin {
  background-color: #2196F3;
   border:0px solid transparent;
}
.btuSignin:hover {
  background-color: #1976D2;
}
.form-signin {
  width: 100%;
  max-width: 330px;
  margin: auto;
}

form {
  display: block;
  margin-top: 0em;

}

element.style {
}

.text-center {
  text-align: center!important;
}


.div-padding {
  padding: 50px;
}

.card {
  margin: 0 auto;
  float: none;
  margin-bottom: 10px;
}

.cardHeader {

  background-color: #e2e2e2;
}
.card-body {

  /* background-color: #f5f5f5; */
  background: rgba(255, 255, 255, 0.35);
border-radius: 3px;
box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
/* max-width: 330px;
position: absolute; */
}

.divBg {
  background: #1976D2; /* fallback for old browsers */
  background: -webkit-linear-gradient(right, #1976D2, #BBDEFB);
  background: -moz-linear-gradient(right, #1976D2, #BBDEFB);
  background: -o-linear-gradient(right, #2196F3, #BBDEFB);
  background: linear-gradient(to left, #2196F3, #BBDEFB);
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  width: 100vw;
}

a:hover {
  color: #FFFFFF;
}

.iconBack:hover {
  color: #2196F3;
}
.active-pink-2 input[type=text]:focus:not([readonly]) {
  border-bottom: 1px solid #f48fb1;
  box-shadow: 0 1px 0 0 #f48fb1;
}
.active-pink input[type=text] {
  border-bottom: 1px solid #f48fb1;
  box-shadow: 0 1px 0 0 #f48fb1;
}
.active-purple-2 input[type=text]:focus:not([readonly]) {
  border-bottom: 1px solid #ce93d8;
  box-shadow: 0 1px 0 0 #ce93d8;
}
.active-purple input[type=text] {
  border-bottom: 1px solid #ce93d8;
  box-shadow: 0 1px 0 0 #ce93d8;
}
.active-cyan-2 input[type=text]:focus:not([readonly]) {
  border-bottom: 1px solid #4dd0e1;
  box-shadow: 0 1px 0 0 #4dd0e1;
}
.active-cyan input[type=text] {
  border-bottom: 1px solid #4dd0e1;
  box-shadow: 0 1px 0 0 #4dd0e1;
}
.active-cyan .fa, .active-cyan-2 .fa {
  color: #4dd0e1;
}
.active-purple .fa, .active-purple-2 .fa {
  color: #ce93d8;
}
.active-pink .fa, .active-pink-2 .fa {
  color: #f48fb1;
}
.text-center {
  text-align: center!important;
}
.div-padding {
  padding: 60px;
}
.card {
  margin: 0 auto;
  float: none;
  margin-bottom: 10px;
}
.divBg {
  background: #1976D2; /* fallback for old browsers */
  background: -webkit-linear-gradient(right, #1976D2, #BBDEFB);
  background: -moz-linear-gradient(right, #1976D2, #BBDEFB);
  background: -o-linear-gradient(right, #2196F3, #BBDEFB);
  background: linear-gradient(to left, #2196F3, #BBDEFB);
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  width: 100%;
}
body {
  font-family: Arial;
}

* {
  box-sizing: border-box;
}

form.example input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 50%;
  height: 5vh;
  background: #f1f1f1;
}

form.example button {
  height: 5vh;
  float: left;
  width: 20%;
  padding: 5px;
  background: #2196F3;
  color: white;
  font-size: 12px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
}

form.example button:hover {
  background: #0b7dda;
}

form.example::after {
  content: "";
  clear: both;
  display: table;
}

