<div class="divBg ">
  <div class="div-padding">
    <form class="example" style="margin-left: 25%">
      <input [(ngModel)]="keywords" style="height: 30px" name="keywords" type="text" placeholder="Search.."
        name="search" autocomplete="off" (keyup)="getUser()">
      <button type="submit" style="height: 30px" (click)="getUser()"><i class="fa fa-search">Search</i></button>
    </form>
    <div class="clearfix">
      <a style="color: crimson;cursor: pointer;" (click)="changeRole()"><strong>{{ roleName }}</strong></a>
      <button class="btn btn-success float-right" style="right: 0px;" data-toggle="modal" data-target="#PreModal"
        (click)="getUser()">AddUser</button>
    </div>
    <div class="card text-center bg-light shadow" style="max-width: 100rem;" style="max-height: 100rem;">
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Username</th>
            <th scope="col">Name</th>
            <th scope="col">Role</th>
            <th scope="col">Created At</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody *ngFor="let user of myUser;let i = index">
          <tr>
            <th scope="row">{{i+1}}</th>
            <td>{{user.username}}</td>
            <td>{{user.name}}</td>
            <td>{{user.role}}</td>
            <td>{{user.created_at}}</td>
            <td>
              <button class="btn btn-primary" style="width: 100px;height: 30px;"
                routerLink="show/{{user.id}}">Edit</button>
              <button class="btn btn-danger" style="width: 100px;height: 30px;"
                (click)="deleteUser(user.id)">Delete</button>
            </td>

          </tr>
        </tbody>
      </table>
      <p>
        <button (click)="backList()" class="btn btn-secondary">Back</button>
        &nbsp;
        <button (click)="nextList()" class="btn btn-secondary">Next</button>
      </p>
    </div>
  </div>
</div>
<!-- Modal -->
<div class="modal fade" id="PreModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content text-center">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Profile</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group row">
          <label class="col-md-5">Username</label>
          <div class="col-md-7">
            <input class="form-control" [(ngModel)]="username" type="text">
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-5">password</label>
          <div class="col-md-7">
            <input class="form-control" [(ngModel)]="password" type="password">
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-5">Confirm Password</label>
          <div class="col-md-7">
            <input class="form-control" [(ngModel)]="conpass" type="password">
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-5">E-mail</label>
          <div class="col-md-7">
            <input class="form-control" [(ngModel)]="email" type="text">
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-5">Telephone</label>
          <div class="col-md-7">
            <input class="form-control" [(ngModel)]="tel" type="text">
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-5">Select Role</label>
          <div class="col-md-7">
            <div class="col-md-9 dropdown" style="align-self: center">
              <!--Trigger-->
              <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">{{ ITEM }}</button>
              <!--Menu-->
              <div class="dropdown-menu dropdown-primary">
                <a class="dropdown-item" (click)="setRole('Admin',1)" style="cursor: pointer;">Admin</a>
                <a class="dropdown-item" (click)="setRole('User',2)" style="cursor: pointer;">User</a>
                <a class="dropdown-item" (click)="setRole('User Admin',3)" style="cursor: pointer;">User Admin</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" data-dismiss="modal" (click)="newUser()">OK</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
