.footer {
  margin-top: auto;
   width: 100%;
   background-color: #0A2455;
   height: 70px;
   display: flex;
   justify-content: center;
   align-items: center;
}
.footer p {
  margin-bottom: 0px;
}
.text-footer {
  color: #FFFFFF;
}
