.text-center {
  text-align: center!important;
}
.div-padding {
  padding: 60px;
}
.card {
  margin: 0 auto;
  float: none;
  margin-bottom: 10px;
}
.divBg {
  background: #1976D2; /* fallback for old browsers */
  background: -webkit-linear-gradient(right, #1976D2, #BBDEFB);
  background: -moz-linear-gradient(right, #1976D2, #BBDEFB);
  background: -o-linear-gradient(right, #2196F3, #BBDEFB);
  background: linear-gradient(to left, #2196F3, #BBDEFB);
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  width: 100%;
}
body {
  font-family: Arial;
}

* {
  box-sizing: border-box;
}

form.example input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 50%;
  height: 5vh;
  background: #f1f1f1;
}

form.example button {
  height: 5vh;
  float: left;
  width: 20%;
  padding: 5px;
  background: #2196F3;
  color: white;
  font-size: 12px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
}

form.example button:hover {
  background: #0b7dda;
}

form.example::after {
  content: "";
  clear: both;
  display: table;
}
