<div class="search-results" (scrolled)="onScrollDown()" (scrolledUp)="onScrollUp()">
  <div class="divBg ">
    <div class="div-padding">
      <form class="example" style="margin-left: 25%">
        <input [(ngModel)]="keywords" style="height: 30px" name="keywords" type="text" placeholder="Search.."
          name="search" autocomplete="off" (keyup)="getForm()">
        <button type="submit" style="height: 30px" (click)="getForm()"><i class="fa fa-search">Search</i></button>
      </form>
      <div class="clearfix">
        <a style="color: crimson;cursor: pointer;" (click)="orderChange()"><strong> Sort by Id ↑/↓</strong></a>
        <!-- <button class=" btn btn-success float-right" style="right: 0px;" data-toggle="modal" data-target="#PreModal">Add
          Form</button> -->
      </div>
      <div class="card text-center bg-light shadow" style="width: 100%;height: 100%;" *ngIf="myForm">
        <table class="table">
          <thead class="thead-dark">
            <tr>
              <th scope="col">#</th>
              <th scope="col">Title</th>
              <th scope="col">Description</th>
              <th scope="col">Owner</th>
              <th scope="col">Total Answer</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody *ngFor="let form of myForm;let i = index">
            <tr>
              <td>{{form.id}}</td>
              <td>{{form.title}}</td>
              <td>{{form.description}}</td>
              <td>{{form.owner}}</td>
              <td>{{total[i]}}</td>
              <td>
                <button class="btn btn-primary" style="width: 100px;height: 30px;" routerLink="show/{{form.id}}"
                  (click)="setFormId(form.id)">View</button>
                <button class="btn btn-info" style="width: 100px;height: 30px;"
                  routerLink="edit/{{form.id}}">Edit</button>
                <button class="btn btn-danger" style="width: 100px;height: 30px;" (click)="getEmailForm(form.id)"
                  data-toggle="modal" data-target="#DelForm">Delete</button>
              </td>
            </tr>
          </tbody>
        </table>
        <p>
          <button (click)="backForm()" class="btn btn-secondary">Back</button>
          &nbsp;
          <button (click)="nextForm()" class="btn btn-secondary">Next</button>
        </p>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="PreModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content text-center">
      <div class="modal-header text-center">
        <h5 class="modal-title" id="exampleModalLongTitle" style="width: 100vw">New Form</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" *ngIf="group">
        <div class="form-group row">
          <label class="col-md-3">Select Group</label>
          <div class="col-md-9 dropdown" style="align-self: center">
            <!--Trigger-->
            <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">Select</button>
            <!--Menu-->
            <div class="dropdown-menu dropdown-primary">
              <a class="dropdown-item" *ngFor="let item of group">{{item.id}}.&nbsp;{{item.title}}</a>
            </div>
          </div>
        </div>
        <!-- Name Form -->
        <div class="form-group row">
          <label class="col-md-3">Title</label>
          <div class="col-md-9">
            <input class="form-control" type="text">
          </div>
        </div>
        <!-- Description Form -->
        <div class="form-group row">
          <label class="col-md-3">Description</label>
          <div class="col-md-9">
            <input class="form-control" type="text">
          </div>
        </div>
        <!-- Add Question -->
        <div class="form-group row" *ngFor="let item of newTemp;let i = index">
          <label class="col-md-3">Title</label>
          <div class="col-md-9">
            <input class="form-control" type="text" placeholder="Question {{i+1}}">
          </div>
          <label class="col-md-3">Description</label>
          <div class="col-md-9">
            <input class="form-control" type="text" placeholder="Description {{i+1}}">
          </div>
          <label class="col-md-3">Select Type</label>
          <div class="col-md-9 dropdown" style="align-self: center">
            <!--Trigger-->
            <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">Select</button>
            <!--Menu-->
            <div class="dropdown-menu dropdown-primary">
              <a class="dropdown-item" *ngFor="let item of datatype">{{item.type_value}}</a>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" (click)="addNewItem()">+</button>
        <button type="button" class="btn btn-success" data-dismiss="modal" (click)="deleteForm()">OK</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="DelForm" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content text-center">
      <div class="modal-header text-center">
        <h5 class="modal-title" id="exampleModalLongTitle" style="width: 100vw">New Message</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" *ngIf="senderUser">
        <div class="form-group row">
          <label class="col-md-3">To</label>
          <div class="col-md-9">
            <input class="form-control" [(ngModel)]="senderUser.email" type="text">
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-3">Message</label>
          <div class="col-md-9">
            <textarea autocomplete="false" [(ngModel)]="message" class="form-control input-xlarge" rows="5"
              id="comment"></textarea>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" data-dismiss="modal" (click)="deleteForm()">OK</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
