<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet"
  id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<div class="divBg">
  <div class="div-padding">
    <div class="card text-center bg-light shadow" style="max-width: 100rem;" style="max-height: 100rem;">
      <form class="form-horizontal" *ngIf="myUser">
        <!-- <fieldset> -->
        <div class="a">
          <div id="legend">
            <legend class="">Profile</legend>
          </div>
          <div class="control-group text-center">
            <div>
              <div class="rounded mx-auto d-block " *ngFor="let image of formImage">
                <img type="image" class="rounded-circle image-center" [src]="url+myUser.image"
                  style="width: 150px; height: 150px"><br>
              </div>
            </div>
            <br>
            <ul class="list-group mb-3 shadow-sm text-center">
              <li class="list-group-item d-flex justify-content-between lh-condensed text-center"
                style="width: 300px;margin: auto">
                <div class="text-center">
                  <div class="custom-file text-center">
                    <input type="file" accept="image/*" class="custom-file-input" (change)="handleFileInput($event)">
                    <label class="custom-file-label" for="inputGroupFile01">
                      <div class="textOverflow">{{imageNameShow}}</div>
                    </label>
                  </div>
                </div>
              </li>
            </ul>
          </div>
          <div class="form-group row">
            <label class="col-md-5">Name</label>
            <div class="col-md-7">
              <input autocomplete="false" class="form-control input-xlarge" [(ngModel)]="myUser.name" type="text"
                name="name">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-5">E-mail</label>
            <div class="col-md-7">
              <input autocomplete="false" class="form-control input-xlarge" [(ngModel)]="myUser.email" name="email"
                type="text">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-5">Telephone</label>
            <div class="col-md-7">
              <input autocomplete="false" class="form-control input-xlarge" [(ngModel)]="myUser.tel" name="tel"
                type="text">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-md-5">Position</label>
            <div class="col-md-7">
              <input autocomplete="false" class="form-control input-xlarge" [(ngModel)]="myUser.position"
                name="position" type="text">
            </div>
          </div>
          <div class="form-group row">
            <div class="col-md-6" style="margin: auto">
              <button class="btn btn-success" (click)="updateUser()">Update</button>
            </div>
          </div>
        </div>
        <!-- </fieldset> -->
      </form>
    </div>
  </div>
</div>
