<nav class="navbar  navbar-expand-lg navbar-dark" style="background-color: #0A2455;margin-bottom: 0px">
  <a class="navbar-brand" routerLink="/forms">
    <img src="/assets/img/forms.png" width="30" height="30" class="d-inline-block align-top" alt="">
    MoMe
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">
        <a class="nav-link" routerLink="/groups">Groups</a>
      </li>
      <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">
        <a class="nav-link" routerLink="/forms" (click)="destroyGroup()">Forms</a>
      </li>
      <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">
        <a class="nav-link" routerLink="/users">Users</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <img class="bd-placeholder-img mr-2 rounded-circle img-cursor" width="32" height="32"
        [src]="HOST_URL+admin.user_info.image" routerLink="/settings/account">
      <a class="nav-link btuUser" [routerLinkActive]="['active']"
        routerLink="/settings/account">{{admin.user_info.name}}</a>
      <div class="nav-item dropdown">
        <a class="nav-link dropdown-toggle btuSetting btn btn-default btn-sm" href="#" id="navbarDropdown" role="button"
          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-cog fa-lg"></i>
        </a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
          <a class="dropdown-item btuSettingOption btn-sm" routerLink="/settings/account">My Profile</a>
          <a class="dropdown-item btuSettingOption btn-sm" routerLink="/settings/account">Edit Profile</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item btuSignout btn-sm" (click)="signOut()">Sign Out</a>
        </div>
      </div>
    </form>
  </div>

</nav>
