.btuSignin {
    background-color: #2196F3;
     border:0px solid transparent;
}
.btuSignin:hover {
    background-color: #1976D2;
}
.form-signin {
    width: 100%;
    max-width: 330px;
    margin: auto;
}

form {
    display: block;
    margin-top: 0em;

}

element.style {
}

.text-center {
    text-align: center!important;
}


.div-padding {
    padding: 50px;
}

.card {
    margin: 0 auto;
    float: none;
    margin-bottom: 10px;
}

.cardHeader {

    background-color: #e2e2e2;
}
.card-body {

    /* background-color: #f5f5f5; */
    background: rgba(255, 255, 255, 0.35);
  border-radius: 3px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
  /* max-width: 330px;
  position: absolute; */
}

.divBg {
    background: #1976D2; /* fallback for old browsers */
    background: -webkit-linear-gradient(right, #1976D2, #BBDEFB);
    background: -moz-linear-gradient(right, #1976D2, #BBDEFB);
    background: -o-linear-gradient(right, #2196F3, #BBDEFB);
    background: linear-gradient(to left, #2196F3, #BBDEFB);
    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    height: 100vh;
    width: 100vw;
}

a:hover {
    color: #FFFFFF;
}

.iconBack:hover {
    color: #2196F3;
}

