<div class="float-left">
  <button class="btn btn-default" style="color: #757575" routerLink="/dashboard">
    <i class="fas fa-chevron-circle-left fa-lg fa-2x iconBack"></i>
  </button>
</div>
<div class="divBg ">
  <div class="div-padding ">
    <div class="card text-center bg-light shadow" style="max-width: 50rem;">
      <div class="card-header cardHeader">
        <ul class="nav nav-tabs card-header-tabs">
          <li class="nav-item">
            <a class="nav-link " [routerLinkActive]="['active']" routerLink="/signin">Sign in</a>
          </li>
        </ul>
      </div>

      <div class="card-body">
        <p class="card-text">
        </p>
        <form class="form-signin">
          <img class="mb-4 rounded-circle" src="/assets/img/syringe.png" alt="" width="72" height="72">
          <h1 class="h3 mb-3 font-weight-normal">Sign in</h1>
          <label for="inputUsername" class="sr-only">Username</label>
          <input type="text" id="inputUsername" class="form-control rounded-top" placeholder="Username" required=""
            autofocus="" [(ngModel)]="login.username" name="username" autocomplete="off">
          <br>
          <label for="inputPassword" class="sr-only">Password</label>
          <input type="password" id="inputPassword" class="form-control rounded-bottom" placeholder="Password"
            required="" [(ngModel)]="login.password" name="password">
          <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="customCheck1">
            <label class="custom-control-label" for="customCheck1">Remember me</label>
          </div>
          <br>
          <button class="btn btn-lg btn-primary btn-block btuSignin" type="submit" (click)="signIn()">Sign in</button>
          <br>
          <a href="">
            <h6><small>Forget password?</small></h6>
          </a>

        </form>
      </div>

    </div>
  </div>
</div>