<div class="divBg ">
  <div class="div-padding" *ngIf="myForm">
    <div class="container text-center" *ngIf="myForm" style="margin: auto">
      <img type="image" class="image-center" [src]="HOST_URL+myForm.form.image"
        style="width: 325px; height: 300px;align-content: center"><br>
      <ul class="list-group mb-3 shadow-sm text-center">
        <li class="list-group-item d-flex justify-content-between lh-condensed text-center"
          style="width: 350px;margin: auto">
          <div class="text-center">
            <div class="custom-file text-center">
              <input type="file" accept="image/*" class="custom-file-input" (change)="handleFileInput($event)">
              <label class="custom-file-label" for="inputGroupFile01">
                <div class="textOverflow">{{imageNameShow}}</div>&nbsp;
              </label>
            </div>
          </div>
        </li>
      </ul>
    </div>
    <br>
    <div class="form-group row">
      <label class="col-md-2"><strong>Title</strong></label>
      <div class="col-md-10">
        <input autocomplete="false" class="form-control input-xlarge" [(ngModel)]="myForm.form.title" type="text"
          name="title">
      </div>
    </div>

    <div class="form-group row">
      <label class="col-md-2"><strong>Description</strong></label>
      <div class="col-md-10">
        <textarea autocomplete="false" [(ngModel)]="myForm.form.description" class="form-control input-xlarge" rows="5"
          id="comment"></textarea>
      </div>
    </div>

    <div class="form-group row" *ngFor="let question of myForm.form.question;let i = index">
      <label class="col-md-2"><strong>Question&nbsp;{{ i+1 }}.&nbsp;[{{question.data_type}}]</strong></label>
      <div class="col-md-5">
        <input autocomplete="false" class="form-control input-xlarge" [(ngModel)]="question.title" type="text"
          name="title">
      </div>
      <div class="col-md-5 dropdown" *ngIf="myForm.form.question[i].dropdown">
        <!--Trigger-->
        <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">Select</button>
        <!--Menu-->
        <div class="dropdown-menu dropdown-primary">
          <a class="dropdown-item" *ngFor="let item of myForm.form.question[i].dropdown">{{item.dropdown_value}}</a>
        </div> &nbsp;&nbsp;
        <input class="bt btn-info" (click)="setIdDropdown(i)" type="button" value="Edit" data-toggle="modal"
          data-target="#EditDropdownValue">
      </div>
    </div>
    <!-- Update , Cancel Button -->
    <div class="form-group row">
      <div class="col-md-12 text-center">
        <button class="btn btn-success" data-toggle="modal" data-target="#PreModal"
          (click)="getEmailForm()">Update</button>
        &nbsp;
        <button class="btn btn-danger" (click)="BackLastPage()">Cancel</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="PreModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content text-center">
      <div class="modal-header text-center">
        <h5 class="modal-title" id="exampleModalLongTitle" style="width: 100vw">New Message</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" *ngIf="senderUser">
        <div class="form-group row">
          <label class="col-md-3">To</label>
          <div class="col-md-9">
            <input class="form-control" [(ngModel)]="senderUser.email" type="text">
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-3">Message</label>
          <div class="col-md-9">
            <textarea autocomplete="false" [(ngModel)]="message" class="form-control input-xlarge" rows="5"
              id="comment"></textarea>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" data-dismiss="modal" (click)="updateForm()">OK</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="EditDropdownValue" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true" *ngIf="myForm && idDropdow">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content text-center">
      <div class="modal-header text-center">
        <h5 class="modal-title" id="exampleModalLongTitle" style="width: 100vw">Edit Dropdown Choice</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" *ngFor="let item of myForm.form.question[idDropdow].dropdown;let j = index">
        <strong><input autocomplete="false" class="form-control input-xlarge" [(ngModel)]="item.dropdown_value"
            type="text" name="title"></strong>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" data-dismiss="modal">OK</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
